@charset "UTF-8";

/* MOBILE FIRST */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(208, 208, 208);
    max-width: 600px;
    height: 100%;
    box-sizing: border-box;
}

header {
    background-color: rgb(160, 153, 153);
    padding: 30px 0px 0px 0px;
    text-align: center;
}

header > nav {
    text-align: left;
    padding: 30px 0px 10px 0px;
}

nav > a {
    color: white;
    font-size: 1.1em;
    padding: 10px;
    background-color: rgb(101, 101, 101);
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    padding: 20px;
}

p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

footer {
    background-color: rgb(160, 153, 153);
    padding: 10px;
    margin-top: 5px;
    color: white;
}

footer > p {
    text-align: center;
}

#footer:hover {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    
}

